<div [className]="'header'">
  <a href="/" [className]="['w-100', 'left-align']">
    <i class="fa-solid fa-arrow-left"></i>
  </a>
  <div [className]="'header-container'">
    <h2>Ajout d'utilisateur</h2>
  </div>
</div>
<div class="container">
<form method="post">
  <mat-form-field [className]="'form-group'">
    <mat-label>Prénom</mat-label>
    <input matInput placeholder="Antoine" name="nameInput" required>
  </mat-form-field>
  <mat-form-field [className]="'form-group'">
    <mat-label>Nom</mat-label>
    <input matInput placeholder="Dupont" name="surnameInput" required>
  </mat-form-field>
  <mat-form-field [className]="'form-group'">
    <mat-label>Rôle</mat-label>
    <mat-select [(value)]="roleSelector" required multiple>
      @for(role of roles; track role) {
        <mat-option value="{{role.value}}">{{role.label}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field [className]="'form-group'">
    <mat-label>Email</mat-label>
    <input type="email" matInput placeholder="antoine.dupont@isen.fr" name="emailInput" required>
  </mat-form-field>

</form>
<div id="actionButtons">
  <app-button [solid]="true" [type]="'primary'" label="Ajouter l'utilisateur" id="submit"/>
</div>
</div>

