<div [className]="'header'">
  <a href="/" [className]="['w-100', 'left-align']">
    <i class="fa-solid fa-arrow-left"></i>
  </a>
  <div [className]="'header-container'">
    <h2>Gestion du stock</h2>
  </div>

  
  <app-button type="secondary" label="Ajouter un matériel" [solid]="true" onClickLink="/stock/add"></app-button>
  
  <div *ngFor="let item of items">
    <div class="card">
      <div class="details">
        <span class="gap"><br></span>
        <span class="item">{{item?.item_id?.name ?? 'No name provided'}}</span>
        <span class="gap"><br></span>
      </div>
      <div class="details">
        <span class="room">Salle: {{item?.location_id?.room ?? 'No room provided'}}</span>
        <span class="gap"><br></span>
        <span class="quantity-i">Quantité: {{item?.quantity ?? 'No quantity provided'}}</span>
      </div>
    </div>
  </div>
</div>