.item {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-bottom: 10px;
  align-items: center;
}

.item_checkbox {
  border: solid 1px var(--grey);
  background-color: var(--grey);
  width: 35px;
  height: 35px;
  border-radius: 5px;
  text-align: center;
  vertical-align: center;
}

.item[checked="false"] i {
  display: none;
}

.item[checked="true"] p {
  text-decoration: line-through;
}

i {
  color: var(--red);
  width: inherit;
  height: inherit;
}

.item_info {
  margin-left: 10px;
  margin-right: auto;
  padding: 0 10px;
}
