@media screen and (max-width: 768px) {
  form {
    display: flex;
    flex-direction: column;
  }

  .form-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }

  label {
    display: none;
  }

  input, app-select, select {
    width: 100%;
    text-align: left;
  }

  #submit {
    margin-top: 2rem;
  }
}
