<div [className]="'header'">
  <a href="/" [className]="['w-100', 'left-align']">
    <i class="fa-solid fa-arrow-left"></i>
  </a>
  <div [className]="'header-container'">
    <h2>Gestion des catégories</h2>
  </div>

  <app-button
    label="Ajouter une catégorie"
    type="primary"
    [css]="'mobile-mb-15'"
    [solid]="true"
  />
  <div *ngFor="let category of categories">
    <div class="card">
      <div class="details">
        <span class="gap"><br /></span>
        <span class="address">{{
          category?.label ? (category.label | titlecase) : "Non renseigné"
        }}</span>
        <span class="gap"><br /></span>
      </div>
      <div class="icon-container">
        <mat-icon class="icon" fontIcon="edit"></mat-icon>
        <mat-icon class="icon" fontIcon="delete"></mat-icon>
      </div>
    </div>
  </div>
</div>
