<div [className]="'header'">
  <a
    href="/"
    [className]="
      ['w-100', 'left-align', 'color-black', 'mobile-view'].join(' ')
    "
  >
    <mat-icon fontIcon="arrow_back" />
  </a>
  <div [className]="'header-container'">
    <h2>Ajout d'unr ôle</h2>
  </div>
</div>
<div class="container">
  <form method="post" (ngSubmit)="submitForm()">
    <mat-form-field [className]="'form-group'">
      <mat-label>Label</mat-label>
      <input
        matInput
        placeholder="Membre Promo"
        name="roleNameInput"
        required
        [formControl]="roleFormControl"
      />
      @if (roleFormControl.hasError("required")) {
        <mat-error>Le nom du rôle est obligatoire</mat-error>
      }
    </mat-form-field>
  </form>
  <div id="actionButtons">
    <app-button
      [solid]="true"
      [type]="'primary'"
      label="Ajouter le rôle"
      id="submit"
    />
  </div>
</div>
