<div [className]="'header'">
  <a href="/" [className]="['w-100', 'left-align']">
    <i class="fa-solid fa-arrow-left"></i>
  </a>
  <div [className]="'header-container'">
    <h2>Gestion des lieux</h2>
  </div>

  <app-button
    label="Ajouter un lieu"
    type="primary"
    [css]="'mobile-mb-15'"
    [solid]="true"
    onClickLink="/location/add"
  />
</div>
<div [className]="'container'">
  <div *ngFor="let location of locations">
    <div class="card">
      <div class="details">
        <span class="address">{{
            location?.address ? (location.address | titlecase) : "Non renseignée"
          }}</span>
      </div>
      <div [className]="'d-flex flex-row'">
        <div [className]="'details mr-2'">
          <span class="city">
            Ville:
            {{
              location?.city ? (location.city | titlecase) : "Non renseignée"
            }}
          </span>
          <span class="room" *ngIf="location.room">
            Salle: {{ location?.room }}
          </span>
        </div>
        <div class="icon-container">
          <mat-icon
            class="icon"
            fontIcon="edit"
            (click)="editLocation(location)"
          />
          <mat-icon
            class="icon"
            fontIcon="delete"
            (click)="deleteLocation(location)"
          />
        </div>
      </div>
    </div>
  </div>
</div>
