<div [className]="'header'">
  <a href="/" [className]="['w-100', 'left-align']">
    <i class="fa-solid fa-arrow-left"></i>
  </a>
  <div [className]="'header-container'">
    <h2>Gestion des lieux</h2>
  </div>

  <app-button
    label="Ajouter un lieu"
    type="primary"
    [css]="'mobile-mb-15'"
    [solid]="true"
    onClickLink="/location/add"
  />

  <div *ngFor="let location of locations">
    <div class="card">
      <div class="details">
        <span class="gap"><br /></span>
        <span class="address">{{
          location?.address ? (location.address | titlecase) : "Non renseignée"
        }}</span>
        <span class="gap"><br /></span>
      </div>
      <div class="details">
        <span class="city"
          >Ville:
          {{
            location?.city ? (location.city | titlecase) : "Non renseignée"
          }}</span
        >
        <span class="gap"><br /></span>
        <span class="room"
          >Salle: {{ location?.room ? location.room : "Non renseignée" }}</span
        >
      </div>
      <div class="icon-container">
        <mat-icon
          class="icon"
          fontIcon="edit"
          (click)="editLocation(location)"
        ></mat-icon>
        <mat-icon
          class="icon"
          fontIcon="delete"
          (click)="deleteLocation(location)"
        ></mat-icon>
      </div>
    </div>
  </div>
</div>
