<nav [className]="classes">
  <ul *ngIf="visibleDesktop">
    <li>
      <a [routerLink]="['/']" [routerLinkActive]="'active'">
        <mat-icon fontIcon="home" />
        Accueil
      </a>
    </li>
    <li>
      <a [routerLink]="['/stock']" [routerLinkActive]="'active'">
        <mat-icon fontIcon="inventory" />
        Stock
      </a>
    </li>
    <li>
      <a [routerLink]="['/event/list']" [routerLinkActive]="'active'">
        <mat-icon fontIcon="calendar_month" />
        Événements
      </a>
    </li>
  </ul>
  <ul [className]="'mr-1em'" *ngIf="visibleDesktop">
    <li>
      <a [routerLink]="['/alerts']" [routerLinkActive]="'active'">
        <mat-icon fontIcon="notifications_active" />
        Notifications
      </a>
    </li>
    <li>
      <a [routerLink]="['/logout']" [routerLinkActive]="'active'">
        <mat-icon fontIcon="logout" />
        Déconnexion
      </a>
    </li>
  </ul>

  <!-- Mobile ul below -->
  <ul [className]="'ul-mobile'" *ngIf="!visibleDesktop">
    <li>
      <a [routerLink]="['/']" [routerLinkActive]="'active'">
        <mat-icon fontIcon="home" />
        Accueil
      </a>
    </li>
    <li>
      <a [routerLink]="['/stock']" [routerLinkActive]="'active'">
        <mat-icon fontIcon="inventory" />
        Stock
      </a>
    </li>
    <li>
      <a [routerLink]="['/event/list']" [routerLinkActive]="'active'">
        <mat-icon fontIcon="calendar_month" />
        Événements
      </a>
    </li>
    <li>
      <a [routerLink]="['/logout']" [routerLinkActive]="'active'">
        <mat-icon fontIcon="logout" />
        Déconnexion
      </a>
    </li>
  </ul>
</nav>
