<nav [className]="classes">
  <ul>
    <li>
      <a [routerLink]="['/home']" [routerLinkActive]="'active'">
        <i class="fa-solid fa-house"></i>
        Accueil
      </a>
    </li>
    <li>
      <a [routerLink]="['/stock']" [routerLinkActive]="'active'">
        <i class="fa-solid fa-dolly"></i>
        Stock
      </a>
    </li>
    <li>
      <a [routerLink]="['/events']" [routerLinkActive]="'active'">
        <i class="fa-regular fa-calendar"></i>
        Evénements
      </a>
    </li>
    <li>
      <a [routerLink]="['/profile']" [routerLinkActive]="'active'">
        <i class="fa-solid fa-user"></i>
        Profil
      </a>
    </li>
  </ul>
</nav>
