<div [className]="'header'">
  <a href="/" [className]="['w-100', 'left-align']">
    <i class="fa-solid fa-arrow-left"></i>
  </a>
  <div [className]="'header-container'">
    <h2>{{ eventName }} {{ selectedEvent.location }}</h2>
  </div>
  <form (ngSubmit)="updateEvent()" method="put" #updateEventForm="ngForm">
    <mat-form-field [className]="'form-group'">
      <mat-label>Nom de l'événement</mat-label>
      <input
        type="text"
        matInput
        id="event_name_input"
        name="event_name"
        [(ngModel)]="selectedEvent.title"
        required
      />
      <mat-error> Le nom de l'événement ne peut pas être vide.</mat-error>
    </mat-form-field>

    <mat-form-field [className]="'form-group'">
      <mat-label>Choisir une date de début</mat-label>
      <input
        matInput
        [matDatepicker]="pickerStart"
        (dateChange)="closeDatepicker(pickerStart)"
        required
        [(ngModel)]="selectedEvent.date_start"
        name="eventStartDate"
      />
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="pickerStart"
      ></mat-datepicker-toggle>
      <mat-datepicker #pickerStart></mat-datepicker>
    </mat-form-field>

    <mat-form-field [className]="'form-group'">
      <mat-label>Choisir une date de fin</mat-label>
      <input
        matInput
        [matDatepicker]="pickerEnd"
        (dateChange)="closeDatepicker(pickerEnd)"
        required
        [(ngModel)]="selectedEvent.date_end"
        name="eventEndDate"
      />
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="pickerEnd"
      ></mat-datepicker-toggle>
      <mat-datepicker #pickerEnd></mat-datepicker>
      <mat-error>La date de fin ne peut pas être vide.</mat-error>
    </mat-form-field>

    <mat-form-field [className]="'form-group'">
      <mat-label>Adresse</mat-label>
      <input
        type="text"
        aria-label="Adresse"
        name="event_address"
        matInput
        [matAutocomplete]="addressauto"
        required
      />
      <mat-autocomplete
        #addressauto="matAutocomplete"
        [displayWith]="displayFn"
        (optionSelected)="onAddressSelected($event.option.value)"
      >
        @for (option of optionsL; track option) {
          <mat-option [value]="option">
            {{ option.address }}, {{ option.city }}
          </mat-option>
        }
      </mat-autocomplete>
      <mat-error>L'adresse ne peut pas être vide.</mat-error>
    </mat-form-field>

    <mat-form-field [className]="'form-group'">
      <mat-label>Status</mat-label>
      <input
        type="text"
        aria-label="Status"
        [value]="selectedEvent.status"
        name="event_status"
        matInput
        [matAutocomplete]="statusauto"
      />
      <mat-autocomplete
        #statusauto="matAutocomplete"
        [displayWith]="displayS"
        (optionSelected)="onStatusSelected($event.option.value)"
      >
        @for (option of optionsS; track option) {
          <mat-option [value]="option">
            {{ option.label }}
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <app-button
      [solid]="true"
      [type]="'primary'"
      label="Mettre à jour"
      id="submit"
      [disabled]="!updateEventForm.form.valid"
    />
  </form>
  <app-button
    type="secondary"
    label="Supprimer"
    [solid]="true"
    css="mt-2"
    (click)="deleteEvent()"
  />
</div>
