<div [className]="'header'">
  <a href="/" [className]="['w-100', 'left-align']">
    <i class="fa-solid fa-arrow-left"></i>
  </a>
  <div [className]="'header-container'">
    <h2>Créer un événement</h2>
  </div>

  <form method="post">
    <mat-form-field [className]="'form-group'">
      <mat-label>Nom de l'événement</mat-label>
      <input type="text" matInput id="event_name_input" name="event_name" required/>
      <mat-error>Le nom de l'événement ne peut pas être vide.</mat-error>
    </mat-form-field>

    <mat-form-field [className]="'form-group'">
        <mat-label>Choisir une date de début</mat-label>
        <input matInput [matDatepicker]="pickerStart" (dateChange)="closeDatepicker(pickerStart)" required>
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickerStart"></mat-datepicker-toggle>
        <mat-datepicker #pickerStart></mat-datepicker>
        <mat-error>La date de début ne peut être vide</mat-error>
    </mat-form-field>

    <mat-form-field [className]="'form-group'">
        <mat-label>Choisir une date de fin</mat-label>
        <input matInput [matDatepicker]="pickerEnd" (dateChange)="closeDatepicker(pickerEnd)"  required>
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
        <mat-error>La date de fin ne peut pas être vide.</mat-error>
    </mat-form-field>

    <mat-form-field [className]="'form-group'">
      <mat-label>Adresse</mat-label>
      <input type="text" placeholder="Rechercher une adresse" aria-label="Adresse" matInput
             [matAutocomplete]="auto" required [formControl]="addressControl">
      <mat-autocomplete #auto="matAutocomplete">
        @for (option of filteredOption | async; track option) {
          <mat-option [value]="option">
            {{option}}
          </mat-option>
        }
      </mat-autocomplete>
      <mat-error>L'adresse ne peut pas être vide.</mat-error>
    </mat-form-field>

    <app-button [solid]="true" [type]="'primary'" label="Mettre à jour" id="submit"/>
  </form>

</div>
