<div [className]="'header-container'">
  <h2>Connexion</h2>
</div>
<div [className]="'container h-100 align-center'">
  <img
    ngSrc="assets/img/icons/ISEN-bulles.svg"
    alt="ISEN bulles"
    priority
    width="188"
    height="196"
  />
  <p>Bienvenue sur <b>IMS Promo</b> 👋</p>
  <p><b>Connecte-toi ! 🔑</b></p>
</div>

<form method="post" (ngSubmit)="login()">
  <mat-form-field [className]="'form-group'">
    <mat-label>Nom d'utilisateur</mat-label>
    <input
      type="text"
      matInput
      id="mail_user"
      name="username"
      required
      placeholder="antoine.dupont"
      autocomplete="off"
      [formControl]="username"
    />
    @if(username.hasError('required')) {
      <mat-error>Le nom d'utilisateur doit être renseigné</mat-error>
    }
  </mat-form-field>
  <mat-form-field [className]="'form-group'">
    <mat-label>Mot de passe</mat-label>
    <input
      type="password"
      matInput
      id="psw"
      name="password"
      required
      placeholder="Mot de passe"
      autocomplete="off"
      [formControl]="password"
    />
    @if(password.hasError('required')) {
      <mat-error>Le mot de passe doit être renseigné</mat-error>
    }
  </mat-form-field>
  <app-button
    [solid]="true"
    [css]="'mt-8'"
    [type]="'primary'"
    label="Se connecter"
    id="btn-login"
  />
</form>
