select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid var(--blue);
  border-radius: 50px;
  padding: 1rem;
  color: var(--blue);
}

.select-white {
  color: var(--white);
  border-color: var(--white);
}

option {
  color: var(--blue);
  border: none;
}
