<div class="container">
  <img src="assets/img/logos/logo-ISEN-vertical.png" alt="Logo ISEN Méditerranée" class="mt-3">

  <img src="assets/img/icons/ISEN-bulles.png" alt="Bulles ISEN" class="mt-2">

  <p class="mb-4">Bonjour <b>username</b>👋</p>

  <div id="actionButtons">
    <app-button type="primary" label="Événements" [solid]="true" onClickLink="/event/list"/>
    <app-button type="primary" label="Gestion du stock" [solid]="true" css="mt-2" onClickLink="/stock"/>
    <app-button type="tertiary" label="Espace administrateur" [solid]="true" css="mt-8" onClickLink="/admin"/>
    <app-button type="secondary" label="Se déconnecter" [solid]="true" css="mt-2" onClickLink="/login"/>
  </div>

</div>
