<div [className]="'header'">
  <div [className]="'header-container d-flex flex-column align-center'">
    <img
      ngSrc="assets/img/logos/logo-ISEN-vertical.png"
      alt="Logo ISEN Méditerranée"
      class="mt-3"
      priority
      width="150"
      height="148"
    />
    <img
      ngSrc="assets/img/icons/ISEN-bulles.svg"
      alt="Bulles ISEN"
      class="mt-2"
      priority
      width="182"
      height="194"
    />
    <p class="mb-4">Bonjour <b>{{ userName }}</b>👋</p>
  </div>
</div>
<div [className]="'container'">
  <div id="actionButtons">
    <app-button
      type="primary"
      label="Événements"
      [solid]="true"
      onClickLink="/event/list"
      css="mt-2"
      *ngIf="userService.hasPermission(1)"
    />
    <app-button
      type="primary"
      label="Gestion du stock"
      [solid]="true"
      css="mt-2"
      onClickLink="/stock"
      *ngIf="userService.hasPermission(5)"
    />
    <app-button
      type="tertiary"
      label="Espace administrateur"
      css="mt-4"
      [solid]="true"
      onClickLink="/admin"
      *ngIf="userService.isAdmin()"
    />
    <app-button
      type="secondary"
      label="Se déconnecter"
      [solid]="true"
      css="mt-2"
      onClickLink="/logout"
    />
  </div>
</div>
