<div class="container">
  <img src="assets/img/logos/logo-ISEN-vertical.png" alt="Logo ISEN Méditerranée" class="mt-4">

  <img src="assets/img/icons/ISEN-bulles.png" alt="Bulles ISEN" class="'m-4'">

  <p class="mb-4">Bonjour <b>username</b>👋</p>

  <div id="actionButtons">
    <app-button type="primary" label="Gestion des événements" [solid]="true"/>
    <app-button type="primary" label="Logistique d'un événement" [solid]="true" css="mt-2"/>
    <app-button type="primary" label="Gestion du stock" [solid]="true" css="mt-2"/>
    <app-button type="secondary" label="Se déconnecter" [solid]="true" css="mt-8"/>
  </div>

</div>
