<div [className]="'header'">
  <a href="/" [className]="['w-100', 'left-align']">
    <i class="fa-solid fa-arrow-left"></i>
  </a>
  <div [className]="'header-container'">
    <h2>Nouveau lieu</h2>
  </div>

  <form
    (ngSubmit)="createLocation(locationForm)"
    method="post"
    #locationForm="ngForm"
  >
    <mat-form-field [className]="'form-group'">
      <mat-label>Adresse</mat-label>
      <input
        type="text"
        matInput
        name="address"
        placeholder="Adresse"
        [(ngModel)]="address"
        required
      />
      <mat-error>L'adresse ne peut pas être vide.</mat-error>
    </mat-form-field>
    <mat-form-field [className]="'form-group'">
      <mat-label>Ville</mat-label>
      <input
        type="text"
        matInput
        name="city"
        placeholder="Nom de la ville"
        [(ngModel)]="city"
        required
      />
      <mat-error>La ville ne peut pas être vide.</mat-error>
    </mat-form-field>
    <mat-form-field [className]="'form-group'">
      <mat-label>Salle</mat-label>
      <input
        type="text"
        matInput
        name="room"
        placeholder="Numéro de salle"
        [(ngModel)]="room"
      />
    </mat-form-field>

    <app-button [solid]="true" [type]="'primary'" label="Créer" id="submit" />
  </form>
</div>
