<div [className]="'header'">
  <a
    href="/"
    [className]="
      ['w-100', 'left-align', 'color-black', 'mobile-view'].join(' ')
    ">
    <mat-icon fontIcon="arrow_back" />
  </a>
  <div [className]="'header-container'">
    <h2>Événements</h2>
  </div>
</div>

<div [className]="'container'">
  <app-calendar [events]="events" />

  <app-button
    label="Créer un événement"
    type="primary"
    [css]="'mobile-mb-15'"
    [solid]="true"
    onClickLink="/event/add"
    *ngIf="userService.hasPermission(2)"
  />
</div>
