<div [className]="'header'">
  <a href="/" [className]="['w-100', 'left-align']">
    <i class="fa-solid fa-arrow-left"></i>
  </a>
  <div [className]="'header-container'">
    <h2>Formulaire d'inventaire</h2>
  </div>

  <form (ngSubmit)="createItem()" method="post" #itemForm="ngForm">
    <mat-form-field [className]="'form-group'">
      <mat-label>Matériel</mat-label>
      <input
        type="text"
        matInput
        id="material_select"
        name="material"
        placeholder="Nom du matériel"
        [(ngModel)]="itemName"
        required
      />
      <mat-error>Le nom du matériel ne peut pas être vide.</mat-error>
    </mat-form-field>

    <mat-form-field [className]="'form-group'">
      <mat-label>Salle</mat-label>
      <mat-select
        id="room_select"
        [(value)]="address"
        required
        [formControl]="roomControl"
      >
        @for (option of options; track option) {
          <mat-option [value]="option">
            {{ option.room }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field [className]="'form-group'">
      <mat-label>Categorie</mat-label>
      <mat-select
        id="category_select"
        [(value)]="category"
        required
        [formControl]="categoryControl"
      >
        @for (category of optionsC; track category) {
          <mat-option [value]="category">
            {{ category.label }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field [className]="'form-group'">
      <mat-label>Quantité</mat-label>
      <input
        type="number"
        matInput
        id="quantity_input"
        name="quantity"
        [(ngModel)]="quantity"
        placeholder="Nouvelle quantité disponible"
        min="1"
        required
      />
      <mat-error>La quantité ne peut pas être inférieure à 1.</mat-error>
    </mat-form-field>

    <app-button
      [solid]="true"
      [type]="'primary'"
      label="Mettre à jour"
      id="submit"
      onClickLink="/stock/"
      [disabled]="!itemForm.form.valid"
    />
  </form>
</div>
