<div class="header">
  <div class="header-container">
    <h2>Gestion des utilisateurs</h2>
  </div>
  <div class="file" (click)="toggleActions($event)">
    <div class="card">
      <div class="details">
        <span class="name">prenom</span>
        <span class="surname">nom de famille</span>
      </div>
      <div class="details">
        <span class="mail">prenom.nom&#64;yncrea.fr</span>
        <span class="role">role</span>
      </div>
    </div>
    <div class="actions">
      <button mat-icon-button class="edit-button">
        <mat-icon class="pen">edit</mat-icon>
      </button>
      <button mat-icon-button class="delete-button">
        <mat-icon class="trash">delete</mat-icon>
      </button>
    </div>
  </div>
  <app-button type="primary" label="Ajouter un utilisateur" [solid]="true" css="mt-8" onClickLink="/user/add"></app-button>
</div>
